.w-20{
    width: 20%;
}
.w-30 {
    width: 30%;
}
.logo-text {
    width: 100px;
}
.story{
    height: 80px ;
}
.dp{
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.image{
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 3px;
} 
button {
  font-size: 14px;
  padding: 4px 12px;
}
.dps{
  width: 39px;
}

.gradiant-border {
  width: 45px;
  height: 45px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg , #ff00ff , #ff6600 , #ffcc00);
}
.story-dp{
  width: 40px;

}
.story-image{
  margin: 100px;
  width: 550px;
  height: 550px;
}
.proflie-pic {
  width: 100px;
  height: 100px;
}
 
/* Gradient Border for Story */