.w-20{
    width: 20%;
}
.w-30 {
    width: 30%;
}
.logo-text {
    width: 100px;
}
.story{
    height: 100px ;
}
.dp{
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.image{
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 3px;
} 
button {
  font-size: 14px;
  padding: 4px 12px;
}
.dps{
  width: 39px;
}
